$blue-grey-50: #F0F2F3;
$red-500: #FF3333;
$green-500: #00B341;
$orange-500: #FF9A00;
$blue-grey-500: #7F8285;
$black-500: #000000;
$color-text-second: #CCCCCC;
$color-text-custom: #cecece;
$color-text-custom-2: #b3b3b3;

$color-bg-control: #E6E6E6;
$color-bg-control-hovered: #DBDBDB;
$color-bg-control-disabled: #F2F2F2;
$color-bg-control-border: #B3B3B3;

$color-bg-action: #FFCC00;
$color-bg-action-hovered: #F2C200;
$color-bg-action-disabled: #F2F2F2;
$color-bg-action-border: #B38F00;

$color-form-border: #D9D9D9;
$color-form-border-hovered: #B3B3B3
